<p> {font-style: oblique;}</p>
#nine {color: orange;}
#nine {font-size: xx-large;}
#nine {font-weight: bold;}
#first {color:red}
#second {color: blue;}
#third {color: green;}
#fourth {font-size: larger;}
#fifth {font-size: smaller;}
#six {text-align: center;}
#seventh {font-weight: bold;}
#eight {font-family: cursive;
